<?xml version="1.0" encoding="UTF-8"?>
<!--log4j.dtd位置:/Users/Serena/eclipse/apache-log4j-1.2.17/site/apidocs/org/apache/log4j/xml/doc-files -->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- xmlns:log4j 定义log4j名字空间 -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
<!-- org.apache.log4j.FileAppender:输出到文件 -->
<appender name="fileAppender" class="org.apache.log4j.FileAppender">
<!-- Threshold:全局过滤器,把低于所设置的level信息过滤不显示出来 -->
<param name="Threshold" value="INFO"/>
<!-- 输出文件全路径名 -->
<param name="File" value="Mail126WithAttachmentTestLogfile.log"/>
<!-- 日志输出格式 -->
<layout class="org.apache.log4j.PatternLayout">
  <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%-5p] [%c{1}] %m%n" />
</layout>
</appender>
<!-- 定义根日志输出器root logger -->
<root>
<!-- 定义root logger的日志基本 -->
<level value="INFO"/>
<!-- 定义root logger的输出目的地 -->
<appender-ref ref="fileAppender"/>
</root>
</log4j:configuration>